header {
	display: grid;
	place-items: center;
	position: relative;
	padding-top: 40px;
	svg {
		position: absolute;
		top: calc(50% - 2rem);
		left: 1rem;
		width: 3rem;
		height: 3rem;
		fill: #1b4332;
		cursor: pointer;
		transform: rotate(0deg);
		transition-property: transform;
		transition-duration: 500ms;
	}
	svg:hover {
		transform: rotate(-180deg);
		transition-property: transform;
		transition-duration: 800ms;
	}
	h1 {
		color: #1b4332;
		font-weight: 900;
		font-size: 3rem;
	}
}
